<dl id="nav-left">

    <dt class="active home"><a href="javascript:;" id="dash"><i class="icon-th icon-white"></i> Dashboard <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a class="active"  href="[baseUri]/admin/"><i class="icon-home icon-white"></i> Home</a></li>
        </ul>
    </dd>

    <dt class="categoria subcategoria"><a href="javascript:;"><i class="icon-filter icon-white"></i> Turnos e Séries <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/categoria/"><i class="icon-tag icon-white"></i> Gerenciar Turnos</a></li>
            <li><a href="[baseUri]/admin/subcategoria/"><i class="icon-tags icon-white"></i> Gerenciar Séries</a></li>
        </ul>
    </dd>

    <dt class="professor"><a href="javascript:;"><i class="icon-user icon-white"></i> Professores <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/professor/"><i class="icon-tag icon-white"></i> Gerenciar Professores</a></li>
            <li><a href="[baseUri]/admin/professor/vincular/"><i class="icon-tag icon-white"></i> Professor X Disciplina </a></li>
            <li><a href="[baseUri]/admin/professor/vincularS/"><i class="icon-tag icon-white"></i>Professor X Série</a></li>            
        </ul>
    </dd>

    <dt class="disciplina"><a href="javascript:;"><i class="icon-th-list icon-white"></i> Disciplinas <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/disciplina/"><i class="icon-tag icon-white"></i> Gerenciar Disciplinas</a></li>
        </ul>
    </dd>



    <dt class="cliente"><a href="javascript:;"><i class="icon-user icon-white"></i> Alunos <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/cliente/novo/"><i class="icon-plus-sign icon-white"></i> Cadastrar Novo Aluno</a></li>
            <li><a href="[baseUri]/admin/cliente/"><i class="icon-th-list icon-white"></i> Exibir Alunos Cadastrados</a></li>
            <li><a href="[baseUri]/admin/cliente/busca/"><i class="icon-search icon-white"></i> Pesquisar Alunos</a></li>
            <li><a href="[baseUri]/admin/cliente/aniversariante/"><i class="icon-gift icon-white"></i> Aniversariantes de [mesExtenso]</a></li>
        </ul>
    </dd>


    <dt class="relatorio"><a href="javascript:;"><i class="icon-print icon-white"></i> Relatórios<b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/relatorio/"><i class="icon-plus-sign icon-white"></i> Boletim, Cadastro e Mensalidade</a></li>
        </ul>
    </dd>

    <dt class="configuracao smtpc usuario"><a href="javascript:;"><i class="icon-wrench icon-white"></i> Configurações <b class="icon-chevron-down"></b></a></dt>
    <dd>
        <ul>
            <li><a href="[baseUri]/admin/configuracao/"><i class="icon-cog icon-white"></i> Configurações Gerais</a></li>
            <li><a href="[baseUri]/admin/smtpc/"><i class="icon-envelope icon-white"></i> Configurações de E-mail</a></li>
            <li><a href="[baseUri]/admin/usuario/"><i class="icon-user icon-white"></i> Usuários do Sistema</a></li>
        </ul>
    </dd>

</dl>  