<!DOCTYPE html>
<html>
    <head>
        <title>Portal do Professor | [config_site_title]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <link href="css/public/aluno.css" rel="stylesheet" />
        <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jquery/bootstrap/bootstrap.js" type="text/javascript"></script>
        <script src="js/jquery/jquery-ui-1.9.2.js" type="text/javascript"></script>
        <script src="js/public/main.js" type="text/javascript"></script>
        <script src="js/public/professor_boletim.js" type="text/javascript"></script>        
        <style>
            .add-on{
                width: 200px !important;
                text-align: right !important;
            }
        </style>        
    </head>
    <body>

        <div class="container">
            <div class="span12" id="top">
                <img src="images/layout/ciclo-logo-900x600ALPHA-OK.png" style="height: 150px;
                    width: 200px;" /> <br /> <br />
            </div>

            <div class="span12" id="main">
                <div id="header" class="span12">
                    <ul>
                        <li>
                            <a href="[baseUri]/professor/">
                                <img src="images/professor/home.png" />
                                <br>
                                <span>Página Principal</span>
                            </a>
                        </li>
                        <li>
                            <a href="[baseUri]/professor/recados/"><img src="images/professor/edit_text.png" />
                                <br>
                                <span>Escrever Recado</span>
                            </a>
                        </li>
                        <li>
                            <a href="[baseUri]/professor/material/"><img src="images/professor/folder.png" />
                                <br>
                                <span>Enviar Material</span>
                            </a>
                        </li>
                        <li>
                            <a href="[baseUri]/professor/boletim/"><img src="images/professor/font.png" />
                                <br>
                                <span>Gerir Boletins</span>                   
                            </a>
                        </li>
                        <li>
                            <a href="[baseUri]/professor/dados/"><img src="images/professor/desktop.png" />
                                <br>
                                <span>Meus Dados</span>                   
                            </a>
                        </li>
                        <li>
                            <a href="[baseUri]/loginProfessor/logout/"><img src="images/icons/logout.png" />
                                <br>
                                <span>Sair do Sistema</span>                   
                            </a>
                        </li>                          
                    </ul>
                </div>

                <div class="span9 offset1">
                    <br>
                    
                    <p class="well well-small"><b class="bicon icon-upload"></b> Boletim do Aluno</p>
                    
                    <div class="input-prepend" id="divSub">
                        <span class="add-on">Selecione o turno e série</span>
                        <select name="sub" id="sub" style="width:489px">
                            <option value="">Selecione o turno/série</option>
                            <!--{loop:s}-->
                            <!--{<option value="s.sub_id">s.categoria_title - s.sub_title</option>}-->
                            <!--{end:s}-->
                        </select>
                    </div>

                    <div class="input-prepend" id="divMat">
                        <span class="add-on">Selecione a Disciplina</span>
                        <select name="mat" id="mat" style="width:489px">
                            <option value="">Selecione a Disciplina</option>
                            <!--{loop:d}-->
                            <!--{<option value="d.disciplina_id">d.disciplina_nome</option>}-->
                            <!--{end:d}-->
                        </select>
                    </div>                    

                    <div class="input-prepend" id="divAluno">
                        <span class="add-on">Selecione o Aluno</span>
                        <select name="aluno" id="aluno" style="width:489px">
                            <option value="">Selecione o Aluno</option>
                            <!--{loop:r}-->
                            <!--{<option value="r.cliente_id">r.cliente_nome</option>}-->
                            <!--{end:r}-->
                        </select>
                    </div>     

                    <div class="input-prepend" id="divAno">
                        <span class="add-on">Selecione o Ano Letivo</span>
                        <select name="ano" id="ano" style="width:489px">
                            <option value="">Selecione o ano letivo</option>
                            <!--{loop:a}-->
                            <!--{<option value="a.ano">a.ano</option>}-->
                            <!--{end:a}-->
                        </select>
                    </div>     
                    
                </div>

            </div>

            <div class="span12" id="footer"></div>
        </div>
        <script>
            [onLoadResponse]
            [onLoad]
            window.onload = function(){
                [onLoadSub]
            }
        </script>
    </body>
</html>
